.shoes-text-warning{
    color: #FA804C;
}
.navi-text-primary{
    color: #363958;
}
.navi-btn-primary{
    background-color: #3D4FF3;

}
.khaki-bg-white{
    background-color: #FFF9F4;
}
.penguin-bg-success{
    background-color: #E5E5E5;
}